<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="/jquery/jquery.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="nav justify-content-center">
            <div class="card">
                <h5 class="card-header text-center" style="background : url('https://www.su-pad.co.il/wp-content/uploads/2019/09/nano-dimension-logo-large.png');background-repeat: no-repeat">Nano Printers</h5>
                <div class="card-body">
                    <div class="form-group text-center">
                        <label for="Task">Enter Printer Name</label>
                        <input type="text" class="form-control" name="PrinterName" id="PrinterName" required>
                      </div>
                      <div class="form-group text-center">
                        <label for="Task">Enter Printer's Unique String</label>
                        <input type="text" class="form-control" name="UniqueString" id="UniqueString" required>
                      </div>

                     <div class="text-center"><button class="btn btn-lg btn-success addbtn">Add Printer</button></div> 
                </div>
              </div>
        </div><br>
    <div class="nav justify-content-center tblData" style="overflow-y:scroll; height: 200px;">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    s.no
                </th>
                <th>
                    Printer
		    
                    <th>
                    Unique String
                    </th>
                    <th>
                    Current Job
                    </th>

                <th>
                    delete
                </th>
            </tr>
        </thead>
        <tbody >
        </tbody>
        </table>
    </div>
</div>
    <script src="/data.js"></script>
</body>
</html>
